@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal Styles */
*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Font Family */
.font-poppins{
  font-family: "Poppins", sans-serif;
}

/* Shared Styles */

:root{
  --primary-color: rgba(58, 58, 58, 1);
  --cards-color: rgba(120, 120, 133, 1);
  --cards-title-color: rgba(24, 25, 31, 1);
  --btn-anc-color: rgba(224, 44, 109, 1);
}

.display-flex{
  display: flex;
}



/* Header Style Begins here */

/* Navbar Style here */
.nav-bar{
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 90px;
  align-items: center;
}
.nav-bar-title{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}
.nav-bar-elements > ul{
  gap: 40px;
}
.nav-bar-elements > ul > li > a{
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

.nav-bar-elements > ul > li{
  list-style: none;
}
/* Navbar style ends here */

/* Banner Styles here */
.banner-container{
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 60px;
}

.banner-text{
  max-width: 800px;
}

.banner-text h1{
  font-size: 3.25rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.banner-text p{
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 25px;
}

.booking-btn{
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 24px;
  border-radius: 41px;
  border: none;
  outline: none;
  background-color: var(--btn-anc-color);
}

.fa-solid, .fa-arrow-right{
  position: relative;
  left: 5px;
  top: 1px;
}


.banner-img{
  width: 475px;
  height: 480px;
  background-image: url(/images/Circle\ design.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 475px;
  position: relative;
}

.banner-img img{
  position: absolute;
  top: 35px;
}

.banner-text-img-container{
  justify-content: space-between;
  
}

.banner-sponsor{
  max-width: 1290px;
  margin: 0 auto;
  margin-top: 111px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 36px 61px;
  align-items: center;
}

.line-1{
  position: absolute;
  width: 1290px;
  height: 1px;
  left: 255px;
  right: -165px;
  top: 785px;
  bottom: -616px;
  background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
  }

.line-2{
  position: absolute;
  width: 1290px;
  height: 1px;
  left: 255px;
  right: -165px;
  top: 890px;
  bottom: -725px;
  background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
  }

  /* Smaller Device Responsive styles */

  @media screen and (max-width: 576px) {
    .nav-bar{
      margin-top: 30px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
    }

    .nav-bar-title{
      margin-left: 5vw;
    }

    .nav-bar-elements ul {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .banner-text-img-container{
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

    .banner-img {
     background-size: 380px;
    }

    .banner-img img{
      position: relative;
      max-height: min-content;
      max-width: 350px;
      left: 60px;
      top: 80px;
    }

    .banner-text{
      text-align: center;
    }

    .banner-sponsor {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      padding: 0;
    }
    
    .line-1, .line-2{
      display: none;
    }
  }

